{% comment %}
sections/main-password.liquid
{% endcomment %}

<section 
  class="global__section main-password" 
  data-section-id="{{ section.id }}" 
  data-section-type="main-password"
>
  <div class="grid__wrapper narrow main-password__container">
    <h1>{{ shop.name }}</h1>
    
    {%- if shop.password_message != blank -%}
      <p class="main-password__message">
        {{ shop.password_message }}
      </p>
    {%- else -%}
      <p class="main-password__message">
        {{ 'general.password.subtext' | t }}
      </p>
    {%- endif -%}

    <div class="main-password__form-wrapper">
      {%- form 'storefront_password' -%}
        {{ form.errors | default_errors }}
        
        <div class="main-password__field">
          <label for="Password">{{ 'general.password.label' | t }}</label>
          <input type="password" name="password" id="Password" placeholder="{{ 'general.password.placeholder' | t }}" required>
        </div>
        <button type="submit" class="btn btn--full">{{ 'general.password.submit' | t }}</button>
      {%- endform -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Password Page"
}
{% endschema %}
