{% comment %}
sections/main-reset-password.liquid
{% endcomment %}

{{ 'component-customer.css' | asset_url | stylesheet_tag }}

<section 
  class="global__section" 
  data-section-id="{{ section.id }}" 
  data-section-type="main-reset-password"
>
  <div class="grid__wrapper narrow" style="margin-top: -2rem;">
    <div class="span-12 customer-form-container">
      <p class="customer-form__subtext">
        {{ 'customer.reset_password.subtext' | t }}
      </p>

      {%- form 'reset_customer_password' -%}
        {{ form.errors | default_errors }}

        <div class="customer-form__row">
          <label for="Password">{{ 'customer.reset_password.password' | t }}</label>
          <input type="password" name="customer[password]" id="Password" autocomplete="new-password" required>
        </div>

        <div class="customer-form__row--password">
          <label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
          <input type="password" name="customer[password_confirmation]" id="PasswordConfirmation" autocomplete="new-password" required>
        </div>

        <button type="submit" class="btn btn--full customer-form__submit-btn">{{ 'customer.reset_password.submit' | t }}</button>
      {%- endform -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Reset Password"
}
{% endschema %}
